span{
  background-color: #F9F5FF;
}

span.blog{
  color: #6941C6;
}

p.header{
  color: #42307D;
}

p.long-text{

  color: #6941C6;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Ensure the image is behind other content */
  /* Additional styling if needed */
}
