<div class="container-fluid ">
  <div class="row ">
    <div class="col-lg-12">
      <img src="/assets/background.png" class="img-fluid h-10 background-image" alt="...">
    </div>
  </div>
</div>

<div class="container-fluid background bg text-center pt-5 position-relative">

  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <p class="text-center fs-6 mt-3">
        <span class="blog fs-6 fw-normal rounded-5 p-2">Our blog</span>
      </p>
    </div>
    <div class="col-lg-4"></div>
  </div>
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <p class="text-center header mt-3 fs-1 fw-semibold">Resources and insights</p>
    </div>
    <div class="col-lg-4"></div>
  </div>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <p class="long-text text-center mt-3 fw-normal">The latest industry news, interviews, technologies, and resources.</p>
    </div>
    <div class="col-lg-2 col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-4 me-5"></div>
    <div class="col-lg-3 col-md-3">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    </div>
    <div class="col-lg-4 col-md-4"></div>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-12 mt-5 d-flex justify-content-center" *ngFor="let post of paginatedBlogPosts | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: allPosts }">
      <app-blog-post-item *ngIf="!isLoading" [blogPost]="post"></app-blog-post-item>
    </div>
  </div>
</div>

<div class="col-lg-12 col-md-6 col-sm-12 mt-5 d-flex justify-content-center" *ngIf="isLoading">
  <app-loading-indicator></app-loading-indicator>
</div>

<app-pagination (pageChange)="onPageChange($event)"></app-pagination>


