<div class="container-fluid mt-5 pt-5">

  <div class="row ">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">

      <p class=" text-center mt-3">
        <span class="border fs-6 fw-lighter border-2 rounded-5 p-2">Our Blog </span>
       </p>


    </div>
    <div class="col-lg-4"></div>
  </div>
  <div class="row ">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">


        <p class="text-center mt-3 fs-1 fw-semibold">Resources and insights </p>


    </div>
    <div class="col-lg-4"></div>
  </div>
  <div class="row text-center">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">

      <p class="text-center mt-3 fw-normal">
        The latest industry news, interviews, technologies, and resources. </p>


    </div>
    <div class="col-lg-2"></div>
  </div>

  <div class="row text-center">
    <div class="col-lg-4"></div>
    <div class="col-lg-3 ms-5 mt-3">

      <form class="d-flex" role="search">
        <i class="fa-regular fa-magnifying-glass" style="color: #e1e2e5;"></i>
       <input class="form-control " type="search" placeholder="Search" aria-label="Search">

      </form>

    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
